@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  height: 100vh;
  width: 100vw;
}

input {
  outline: none;
  letter-spacing: 1px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}
