.skeleton__wrapper {
  width: 90%;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skeleton__container {
  padding: 2rem 1rem;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.shrimmer {
  position: absolute;
  height: 90%;
  width: 20%;
  background-color: #ffffff7a;
  transform: skewX(-18deg) translateX(-30%);
  animation: shrimmer 700ms infinite;
}

@keyframes shrimmer {
  0% {
    transform: skewX(-18deg) translateX(-30%);
  }

  100% {
    transform: skewX(-18deg) translateX(400%);
  }
}

.skeleton__title {
  width: 30%;
  height: 22px;
  border-radius: 5px;
  background-color: #b3b3b3;
}

.skeleton__container_1 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.skeleton__title_1,
.skeleton__value_1,
.skeleton__title_2,
.skeleton__value_2,
.skeleton__title_3,
.skeleton__value_3 {
  height: 12px;
  border-radius: 3px;
}

.skeleton__title_1 {
  width: 50%;
  background-color: #bdbdbd;
}

.skeleton__value_1 {
  width: 30%;
  background-color: #b9b9b9;
}

.skeleton__title_2 {
  width: 20%;
  background-color: #adadad;
}

.skeleton__value_2 {
  width: 70%;
  background-color: #bdbdbd;
}

.skeleton__title_3 {
  width: 90%;
  background-color: #8d8d8d;
}

.skeleton__value_3 {
  width: 30%;
  background-color: #d6d6d6;
}

@media screen and (max-width: 700px) {
  .skeleton__wrapper {
    width: 100%;
    gap: 1rem;
  }

  .skeleton__container {
    padding: 1rem;
    gap: 1rem;
  }

  .skeleton__title {
    width: 70%;
    border-radius: 3px;
  }
}
